<!doctype html>
body {
  background-color: #5e9996;
  font-family: 'Al Nile', Al Nile, Al Nile;
}

h1{
  font-family: 'Al Nile', Al Nile, Al Nile;
  color: #126069;
}

nav li {
  display: inline-block;

}

ul li {
  color: #0e525a;
}

p {
color: #C47C4F;
text-decoration: al nile:
}
