body {
  background-color: ##5E9996;
  font-family: 'Open Sans', Verdana, sans-serif;
  h1{
    font-family: 'Al Nile', 'Arial Narrow', Arial, sans-serif;
    color: #126069;
  }

  nav li {
      display: inline-block;
  }
  
  nav a {
      color: #000;
      text-decoration: none;
      padding: 10px;
  }
  
  nav a:hover {
      text-decoration: underline;
<<<<<<< HEAD
  }
=======
  }
>>>>>>> 0ab751857fe065d167c93aaa8de2faa1e1fc4a80
